@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Montserrat", sans-serif;

    /* COLORES PRIMARIOS */
    /* Azul Principal (Botones, enlaces, precios) */
    --color-primary-blue: #2563eb;
    --color-primary-blue-hover: #1d4ed8;
    --color-primary-blue-light: #dbeafe;
    --color-primary-blue-text: #1e40af;

    --color-white: #ffffff;

    /* Grises */
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;

    /* Negro */
    --color-black: #000000;


    /* COLORES SECUNDARIOS */
    /* Rojo (Alertas, eliminar) */
    --color-red-50: #fef2f2;
    --color-red-500: #ef4444;
    --color-red-600: #dc2626;

    /* Verde (Éxito, envío) */
    --color-green-100: #dcfce7;
    --color-green-600: #16a34a;

    /* Púrpura (Features) */
    --color-purple-100: #f3e8ff;
    --color-purple-600: #9333ea;

    --shadow-card: 0 2px 15px rgba(0, 0, 0, 0.08);

}